target/
!.mvn/wrapper/maven-wrapper.jar

vitrine-frontend/dist

vitrine-core/build/

vitrine-mci/build/

vitrine-webserver/build/

vitrine-webserver/src/main/resources/static/

.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
